.header {
  background-color: #FAE6E1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin: 20px 20px 0 20px;
  border-radius: 8px;
  color: #305224;
}

.header-content {
  text-align: left;
  flex: 1; 
}

.header h2 {
  margin: 0 0 10px 0;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1.2;
}

.header button {
  padding: 10px 20px;
  background-color: #305224;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 20px;
}

.header-image {
  width: 300px;
  height: auto;
  border-radius: 8px;
  margin-right: 20px;
  flex-shrink: 0; 
}

@media (max-width: 480px) {
  .header {
    flex-direction: column; 
    align-items: flex-start; 
    padding: 10px;
    margin: 10px; 
  }

  .header-content {
    text-align: center; 
    margin-bottom: 10px; 
  }

  .header h2 {
    font-size: 1.2em; 
  }

  .header button {
    padding: 8px 16px; 
    width: 100%; 
    box-sizing: border-box; 
    text-align: center; 
  }

  .header-image {
    width: 100%; 
    margin-right: 0; 
    border-radius: 8px; 
  }
}