/* Navbar.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: white;
  background-color: black;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.navbar-left {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  color:white;
}

.logo-icon {
  margin-right: 8px;
  font-size: 24px;
}

.navbar-links a {
  margin: 0 10px;
  text-decoration: none;
  color: white;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-right input {
  margin-right: 20px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #000;
}

.account-links {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.person-icon {
  font-size: 24px;
  margin-right: 8px;
}

.account-links a {
  text-decoration: none;
  color: white;
  margin: 0 5px;
}

.divider {
  margin: 0 5px;
  color: #ccc;
}

.cart-icon {
  font-size: 24px;
  margin-right: 8px;
}
